In [1]:
# 1. List 
# List are ordered and mutable collection of data items. 
# It may contain items of different data types.

lst = []
print(type(lst)) #type of list

<class 'list'>

In [2]:
names = ["Eva", "Rohit", "Jacob", 4, 8, 1]
print(names)

['Eva', 'Rohit', 'Jacob', 4, 8, 1]

In [3]:
mixed_list = [3.718, "Eva", False, 5 ] #float,string,bool,integer 
print(mixed_list)

[3.718, 'Eva', False, 5]

In [9]:
#Accessing the list elements 
#List_Indices= 0,1,2,3,4,5 (Here always remember that list index begins from 0)
list = ["Apple","Kiwi","Dragon-Fruit","Cherry","Banana"]
print(list[0])
print(list[1])
print(list[-1]) #We use -1 to access the last element in list
print(list[0:]) #We use this to get entire list printed
print(list[0:4]) #Defining a range to access specific elements

Apple
Kiwi
Banana
['Apple', 'Kiwi', 'Dragon-Fruit', 'Cherry', 'Banana']
['Apple', 'Kiwi', 'Dragon-Fruit', 'Cherry']

In [17]:
#Modifying the list elements 
list
list[1]="watermelon"
print(list)

['Apple', 'watermelon', 'Dragon-Fruit', 'Cherry', 'Banana']

In [19]:
list[1:] = "watermelon" #Here 1: means after the letter that's indexed at 1, we shall get watermelon
print(list)

['Apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [32]:
list = ["Apple","Kiwi","Dragon-Fruit","Cherry","Banana"]

In [33]:
list.append("Vanilla")
print(list)

['Apple', 'Kiwi', 'Dragon-Fruit', 'Cherry', 'Banana', 'Vanilla']

In [35]:
#If we would liek to add something at a particular index

list.insert(2,"Choco")
print(list)

['Apple', 'Kiwi', 'Choco', 'Dragon-Fruit', 'Cherry', 'Banana', 'Vanilla']

In [36]:
list.remove("Vanilla") #remove means removing the first occurance of an item
print(list)

['Apple', 'Kiwi', 'Choco', 'Dragon-Fruit', 'Cherry', 'Banana']

In [37]:
#Remove and return the last element | For this we will use pop function
popped_list = list.pop()
print(popped_list)
print(list)

Banana
['Apple', 'Kiwi', 'Choco', 'Dragon-Fruit', 'Cherry']

In [40]:
##Retrieving the index of any fruit
list.index("Cherry")

4

In [43]:
list.insert(2,"Kiwi")
print(list.count("Kiwi"))

3

In [44]:
list

['Apple', 'Kiwi', 'Kiwi', 'Kiwi', 'Choco', 'Dragon-Fruit', 'Cherry']

In [51]:
list.sort()
print(list)
list.remove("Kiwi")

['Apple', 'Cherry', 'Choco', 'Dragon-Fruit', 'Kiwi']

In [54]:
#To reverse the list
list.reverse()
list

['Dragon-Fruit', 'Choco', 'Cherry', 'Apple']

In [56]:
list.clear() #This will clear all items in the list
print(list)

[]

In [57]:
#slicing list
numbers = [1,2,3,4,5,6,7]
print(numbers[1:4])
print(numbers[2:])
print(numbers[:5])
print(numbers[::]) #It means printing all numbers 
print(numbers[::2])
print(numbers[::-1])

[2, 3, 4]
[3, 4, 5, 6, 7]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]
[1, 3, 5, 7]
[7, 6, 5, 4, 3, 2, 1]

In [59]:
#for loop
for number in numbers:
    print(number)

1
2
3
4
5
6
7

In [60]:
#If we want the index as well for the numbers we shall use enumerate function
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7

In [62]:
## list comprehension 
lst = [] #Defining this list showcase the presence of 0,1,2,3,4,5...

for x in range(10): #0-9
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
## List comprehension has two things that's what we want as an output and what's the operation we are trying to perform.

[x**2 for x in range(10)] #expression for item in iterable

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
#Basic list comprehension 

square = [x**2 for x in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
##List comprehension with condition

lst = []
for i in range(10):
    if i%2==0:
        lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

In [5]:
even_numbers=[num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [6]:
lst1 = [1,2,3,4]
lst2 = ['a','b','c','d']

pairs = [[i,j] for i in lst1 for j in lst2]

print(pairs)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [7]:
words = ["Eva", "Dia", "Colgate", "Draculajojo"]
lengths = [len(word) for word in words]
print(lengths)

[3, 3, 7, 11]

##### Sets: Sets are built-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow specific order, and do not allow duplicate elements. They are commonly used in eliminating duplicate entries (performing mathematical set operations-union,intersection, difference and symmetric difference)

In [ ]:
# Creating a set
my_set = {1,2,3,4,5} #my_set = set([1,2,3,4,5])
print(type(my_set))
print(my_set)

<class 'set'>
{1, 2, 3, 4, 5}

In [ ]:
# Creating an empty-set
my_emptyset = {}
print(type(my_emptyset))

<class 'dict'>

In [11]:
#Basic Set Operation
# Adding and removing the elements 

my_set.add(5)
print(my_set)

{1, 2, 3, 4, 5, 7}

In [8]:
#Unlike remove we do have discard() as well, which won't really raise any exception even if the element is absent.
my_set.discard(10)
print(my_set)

{1, 2, 3, 4, 7}

In [12]:
#Unlike remove we do have discard() as well, which won't really raise any exception even if the element is absent.
my_set.remove(4)
print(my_set)

{1, 2, 3, 5, 7}

In [13]:
#pop method #If we would like to remove the first element of set 

removed_set = my_set.pop()
print(removed_set)
print(my_set)

1
{2, 3, 5, 7}

In [ ]:
#If we would like to clear all the elements 

my_set.clear()
print(my_set)

set()

In [15]:
#Set Membership Test #Boolean Test about the existence of element 
my_set = {1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [ ]:
#Mathematical Operations
set1 = {1,2,3,4,5}
set2 = {5,6,7,1,8,9,10}

#Union 
union_set = set1.union(set2)
print(union_set)

#Intersection 
intersection_set = set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2) #Intersection update means it will get stored in set1
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 5}
{1, 5}

In [6]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

#Difference operation: It showcases the outlying elements in a certain set leaving apart the common elements.

Difference_set = set1.difference(set2)
print(Difference_set)

Difference_set2 = set2.difference(set1)
print(Difference_set)

#Symmetric Difference #In this we only get the unique elements out of both sets and common elements are not considered. 

print(set1.symmetric_difference(set2))

{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

In [10]:
#Set Methods 
set1 = {1,2,3}
set2 = {1,2,3,5,6,7,8,9}

#issubset #boolean
print(set1.issubset(set2))

#issuperset #boolean 
print(set1.issuperset(set2))

True
False

In [11]:
#If we have a list and we would like to remove the duplicates from the list hence in that case we will convert it into set

lst = [1,2,3,4,4,5,6,6,7,8]

set(lst)

{1, 2, 3, 4, 5, 6, 7, 8}

In [12]:
#Counting unique words in a text 

text = "In this tutorial we will try to get the best possible outcome of unique words"
words = text.split()

#convert list of words to set to attain the unique words
unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'possible', 'tutorial', 'to', 'of', 'we', 'unique', 'outcome', 'In', 'the', 'best', 'words', 'this', 'try', 'get', 'will'}
15

In [1]:
## Dictionaries 
# Dictionary: It's unordered collection of items, they store data in key-value pairs. Here keys shall be unique and immutable (eg. strings, tuples, etc...) and values can be of any type. 

empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [2]:
empty_dict = dict()
empty_dict

{}

In [2]:
#Defining and printing the dictionary 
#Key:value pairs 
Dict_student = {"name": "Eva", "age": 24, "Height": 5.7}
print(Dict_student)
print(type(Dict_student))

{'name': 'Eva', 'age': 24, 'Height': 5.7}
<class 'dict'>

In [3]:
#Here as we noticed each unique key could onky have one value, if we are 
Dict_Error_student = { "Name":"Eva", "age": 24, "Name":5.68}
print(Dict_Error_student)

{'Name': 5.68, 'age': 24}

In [4]:
#Accessing the dictionary elements 
student = {"Name": "Eva", "age": 24, "grade": 'A++'}
print(student)

{'Name': 'Eva', 'age': 24, 'grade': 'A++'}

In [5]:
print(student['grade'])
print(student['age'])

#Accessing using the .get() method 
print(student.get('grade'))
print(student.get('last_name'))
#Assigning a default value 
print(student.get('last_name',"Not Available"))

A++
24
A++
None
Not Available

In [6]:
#Modifying the dictionary elements 
#Dictionary elements are mutable, can be (edited,updated & deleted)

print(student)

#Updating and adding new keys
student["age"] = 28 #updating the key and value 
print(student)
student["address"] = "India" #adding new key and value 
print(student)

{'Name': 'Eva', 'age': 24, 'grade': 'A++'}
{'Name': 'Eva', 'age': 28, 'grade': 'A++'}
{'Name': 'Eva', 'age': 28, 'grade': 'A++', 'address': 'India'}

In [7]:
del student['grade']
print(student)

{'Name': 'Eva', 'age': 28, 'address': 'India'}

In [8]:
##Dictionary methods #key-value pairs 
keys = student.keys() #keys
print(keys)
values = student.values() #values 
print(values)

items = student.items() #items: all key-value pairs
print(items)

dict_keys(['Name', 'age', 'address'])
dict_values(['Eva', 28, 'India'])
dict_items([('Name', 'Eva'), ('age', 28), ('address', 'India')])

In [9]:
#shallow-copy 
student_copy = student 
print(student_copy)
print(student)

{'Name': 'Eva', 'age': 28, 'address': 'India'}
{'Name': 'Eva', 'age': 28, 'address': 'India'}

In [10]:
student['Name'] = "Evan"
print(student_copy)
print(student)

{'Name': 'Evan', 'age': 28, 'address': 'India'}
{'Name': 'Evan', 'age': 28, 'address': 'India'}

In [11]:
#To avoid the issue we utilise .copy()
student_copy1 = student.copy()
print(student_copy1)
print(student)

{'Name': 'Evan', 'age': 28, 'address': 'India'}
{'Name': 'Evan', 'age': 28, 'address': 'India'}

In [12]:
student['Name'] = "Evuu"
print(student_copy1)
print(student)

{'Name': 'Evan', 'age': 28, 'address': 'India'}
{'Name': 'Evuu', 'age': 28, 'address': 'India'}

In [17]:
#Iterating over dictionaries
#We may use loops to iterate over key,value, dictionary and items

for keys in student.keys():
    print(keys)

for values in student.values():
    print(values)

for items in student.items():
    print(items)

for key,values in student.items():
    print(f"{key}:{values}")

Name
age
address
Evuu
28
India
('Name', 'Evuu')
('age', 28)
('address', 'India')
Name:Evuu
age:28
address:India

In [21]:
#Nested Dictionaries 
students={
    "student1":{"Name":"Eva", "Age": 24},
    "student2":{"Name":"Jacob", "Age": 35}
}
print(students)

{'student1': {'Name': 'Eva', 'Age': 24}, 'student2': {'Name': 'Jacob', 'Age': 35}}

In [22]:
#Access Nested Dictionaries Items

print(students["student2"]["Name"])
print(students["student2"]["Age"])

Jacob
35

In [23]:
students.items()

dict_items([('student1', {'Name': 'Eva', 'Age': 24}), ('student2', {'Name': 'Jacob', 'Age': 35})])

In [25]:
# Iterating over nested dictionaries 
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items(): 
        print(f"{key}:{value}")

student1:{'Name': 'Eva', 'Age': 24}
Name:Eva
Age:24
student2:{'Name': 'Jacob', 'Age': 35}
Name:Jacob
Age:35

In [27]:
#Dictionary Comprehension 
squares={x:x**2 for x in range (5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [28]:
#Condition Dictionary Comprehension 
evens={x:x**2 for x in range (5) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16}

In [29]:
#Question 1: Use a dictionary to count the frequency of elements in a list 

numbers=[2,5,6,7,8,8,9,0]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]=+1
    else:
        frequency[number]=1
print(frequency)

{2: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1, 0: 1}

In [30]:
#Question 2: Merge two dictionaries into one 
dict1={"a":2,"b":5}
dict2={"b":8,"d":9}

merged_dict = {**dict1,**dict2}
print(merged_dict)

{'a': 2, 'b': 8, 'd': 9}

In [32]:
#Tuples
#Tuples are the ordered collection of items but immutable, they are similar to list but their factor of being immutable makes them different. 

empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [ ]:
lst = list()
print(type(lst))

tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [34]:
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [35]:
mixed_tuple = ("Eva Kaushik", 1, 5.68, 'a')
print(mixed_tuple)

('Eva Kaushik', 1, 5.68, 'a')

In [36]:
#Accessing Tuple Elements 
numbers

(1, 2, 3, 4, 5, 6)

In [37]:
print(numbers[2])
print(numbers[-1])

3
6

In [38]:
numbers[0:4]

(1, 2, 3, 4)

In [41]:
print(numbers[::])
print(numbers[::-1])

(1, 2, 3, 4, 5, 6)
(6, 5, 4, 3, 2, 1)

In [43]:
#Tuple Operations 

concat_tuples = numbers + mixed_tuple
print(concat_tuples)

(1, 2, 3, 4, 5, 6, 'Eva Kaushik', 1, 5.68, 'a')

In [44]:
mixed_tuple*3

('Eva Kaushik',
 1,
 5.68,
 'a',
 'Eva Kaushik',
 1,
 5.68,
 'a',
 'Eva Kaushik',
 1,
 5.68,
 'a')

In [45]:
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [47]:
#Immutable nature of tuples 
#Once a value has been assigned then we can't change it.

lst = [9,8,2,4,5]
print(lst)

lst[1] = "Krish"
print(lst)

[9, 8, 2, 4, 5]
[9, 'Krish', 2, 4, 5]

In [48]:
numbers[1] = "Krish"

TypeError: 'tuple' object does not support item assignment

In [52]:
#Tuple Methods 
print(numbers)

print(numbers.count(1))
print(numbers.index(3))

(1, 2, 3, 4, 5, 6)
1
2

In [ ]:
#packed and unpacked tuple
packed_tuple = "Eva Kaushik",1,3.14
print(packed_tuple)

('Eva Kaushik', 1, 3.14)

In [54]:
#unpacking a tuple 
a,b,c = packed_tuple
print(a)
print(b)
print(c)

Eva Kaushik
1
3.14

In [55]:
#unpackign with *
numbers = (2,4,6,7,8,9)
first,*middle,last = numbers
print(first)
print(middle)
print(last)

2
[4, 6, 7, 8]
9

In [56]:
#Nested list 
#Nrested tuple 

lst = [[1,2,3,4],[6,7,8,9],["Eva Kaushik",3.87,'a']]
lst[0][0:2]

[1, 2]

In [57]:
lst = [[1,2,3,4],[6,7,8,9],("Eva Kaushik",3.87,'a')]
lst[2][0:3]

('Eva Kaushik', 3.87, 'a')

In [59]:
nested_tuple = ((1,2,3),("a","b","c"),(True,False))
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [61]:
#Iterating over nested tuples
for sub_tuple in nested_tuple:
    for items in sub_tuple:
        print(items,end=" ")
    print()

1 2 3
a b c
True False

In [ ]:
#Real-World use-cases of list 
#Manage a TO-DO list to keep track of the tasks.

to_do_list = ["Wake-up early morning","Prepare breakfast","Clean the house"]

#Appending new tasks as they arrive 

to_do_list.append("Get soy-chunks for dinner preparation")
to_do_list.append("Go for a Run")

#Removing a completed task 
to_do_list.remove("Prepare breakfast")

#Checking if a task is in the list
if "Clean the house" in to_do_list:
    print("Do not forget to clean, it's pending task")

print("To Do list remaining")
for task in to_do_list:
    print(f"-{task}") #Here we are using f-string that's the formatting string

Do not forget to clean, it's pending task
To Do list remaining
-Wake-up early morning
-Clean the house
-Get soy-chunks for dinner preparation
-Go for a Run

In [ ]:
#Create a list to store and calculate student grades 
grades = [96,71,88,90,93]

#Adding a new grade 
grades.append(56)
print(grades)

#Calculating the Average grades 
Avg_grades = sum(grades)/len(grades)
print(f"Average Grades:{Avg_grades:.2f}") #Using a format specifier in which we will get this printed upto two decimal places.

#Finding the highest and lowest grades 
Highest_grade = max(grades)
print(Highest_grade)

Lowest_grade = min(grades)
print(Lowest_grade)

[96, 71, 88, 90, 93, 56]
Average Grades:82.33
96
56

In [11]:
#Managing Inventory in a Store
Inventory = ["Banana","Apple","Kiwi","Guava"]

#Adding a new item(append)
Inventory.append("Strawberries")

#Removing an item that's out of stock
Inventory.remove("Banana")

#Checking if an item is in stock or not 
Item = "Oranges"
if Item in Inventory:
    print(f"{Item}: It's in Inventory")
else:
    print(f"{Item}: Not in Inventory")

# Printing Inventory 
print("Inventory List:")
for item in Inventory:
    print(f"-{item}")

Oranges: Not in Inventory
Inventory List:
-Apple
-Kiwi
-Guava
-Strawberries

In [12]:
# Collecting user feedback
feedback = ["Great service!", "Very satisfied", "Could be better", "Excellent experience"]

# Adding new feedback
feedback.append("Not happy with the service")

# Counting specific feedback
positive_feedback_count = sum(1 for comment in feedback if "great" in comment.lower() or "excellent" in comment.lower())
print(f"Positive Feedback Count: {positive_feedback_count}")

# Printing all feedback
print("User Feedback:")
for comment in feedback:
    print(f"- {comment}")

Positive Feedback Count: 2
User Feedback:
- Great service!
- Very satisfied
- Could be better
- Excellent experience
- Not happy with the service